/* 1. top
   2. left
   3. middle -cards
   4. footer
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 15px;
    padding: 15px;
}

.search-item {
    font-weight: 900;
    font-size: 30px;
    margin: 10px;
}

.dashboard {
    font-size: 50px;
    text-align: center;
    background-color: rgb(104, 104, 251);
    background-image: linear-gradient(to right, rgb(120, 120, 218), darkblue);
    color: whitesmoke;
    padding: 15px;
    border-radius: 2px;
}

.container {
    padding 10px 75px;
    color: white;
}

.container1 {
    display: inline-flexbox;
    justify-content: start;
    flex-wrap: nowrap;
}

.container2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container3 {
    display: flex;
    justify-content: last baseline;
    flex-wrap: wrap;
}

/* help from https://cssgrid-generator.netlify.app/ */
/* still not applying in live :( */
/*
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
    .container1 { grid-area: 1 / 1 / 4 / 3; }
    .container2 { grid-area: 1 / 3 / 3 / 8; }
    .container3 { grid-area: 3 / 3 / 4 / 8; }
*/
.search-btn {
    font-size: 20px;
    height: 50px;
    width: 310px; 
    background-color: rgb(68, 194, 249);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 15px;
    border: none;
}

.divider-line {
    max-width: 320px;
    background-color: grey;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#selector {
    font-size: 30px;
    text-align: center;
    height: 50px;
    width: 310px;
    border: solid, darkslategrey;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.city-btn {
    display: grid;
    font-size: 20px;
    height: 50px;
    width: 310px;
    background-color: grey;
    color: rgb 150 150 150;
    border: none;
    border-radius: 5px;
    padding: 15px;  
    margin-top: 10px; 
    margin-left: 5px;
}


.master-card {
    font-size: 20px;
    height: 300px;
    width: 480px;
    background-color: navy;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.card {
    height: 200px;
    width: 175px;
    background-color: rgb(76, 76, 238);
    border:  1px solid rgb(75, 75, 237);
    border-radius: 5px;
    justify-content: end;
    margin: 5px;
    padding: 10px;
}

